In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.getOrCreate()

24/08/10 17:22:29 WARN Utils: Your hostname, Nishants-MacBook-Air.local resolves to a loopback address: 127.0.2.3; using 192.168.1.2 instead (on interface en0)
24/08/10 17:22:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/10 17:22:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 61202)
Traceback (most recent call last):
  File "/opt/homebrew/Cellar/python@3.12/3.12.4/Frameworks/Python.framework/Versions/3.12/lib/python3.12/socketserver.py", line 318, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/homebrew/Cellar/python@3.12/3.12.4/Frameworks/Python.framework/Versions/3.12/lib/python3.12/socketserver.py", line 349, in process_request
    self.finish_request(request, client_address)
  File "/opt/homebrew/Cellar/python@3.12/3.12.4/Frameworks/Python.framework/Versions/3.12/lib/python3.12/socketserver.py", line 362, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/homebrew/Cellar/python@3.12/3.12.4/Frameworks/Python.framework/Versions/3.12/lib/python3.12/socketserver.py", line 761, in __init__
    self.handle()
  File "/Users/nishantketu/Projects/python-playground/venv/lib/python3.12/site-packages/pyspark/accumulators.py", line 295, in handle
    poll(accum_updates)
  File "/Users/nishantketu/Projects/python-playground/venv/lib/python3.12/site-packages/pyspark/accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "/Users/nishantketu/Projects/python-playground/venv/lib/python3.12/site-packages/pyspark/accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "/Users/nishantketu/Projects/python-playground/venv/lib/python3.12/site-packages/pyspark/serializers.py", line 596, in read_int
    raise EOFError
EOFError
----------------------------------------

In [4]:
type(spark)

pyspark.sql.session.SparkSession

In [5]:
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
    or a :class:`numpy.ndarray`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
        :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None. The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.

        When ``schema`` is a list of column names, the type of each column
        will be inferred from ``data``.

        When ``schema`` is ``None``, it will try to infer the schema (column names and types)
        from ``data``, which should be an RDD of either :class:`Row`,
        :class:`namedtuple`, or :class:`dict`.

        When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must
        match the real data, or an exception will be thrown at runtime. If the given schema is
        not :class:`pyspark.sql.types.StructType`, it will be wrapped into a
        :class:`pyspark.sql.types.StructType` as its only field, and the field name will be
        "value". Each record will also be wrapped into a tuple, which can be converted to row
        later.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring. The first few rows will be used
        if ``samplingRatio`` is ``None``.
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

        .. versionadded:: 2.1.0

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with `spark.sql.execution.arrow.pyspark.enabled=True` is experimental.

    Examples
    --------
    Create a DataFrame from a list of tuples.

    >>> spark.createDataFrame([('Alice', 1)]).show()
    +-----+---+
    |   _1| _2|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a list of dictionaries.

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  1|Alice|
    +---+-----+

    Create a DataFrame with column names specified.

    >>> spark.createDataFrame([('Alice', 1)], ['name', 'age']).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the explicit schema specified.

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> spark.createDataFrame([('Alice', 1)], schema).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the schema in DDL formatted string.

    >>> spark.createDataFrame([('Alice', 1)], "name: string, age: int").show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create an empty DataFrame.
    When initializing an empty DataFrame in PySpark, it's mandatory to specify its schema,
    as the DataFrame lacks data from which the schema can be inferred.

    >>> spark.createDataFrame([], "name: string, age: int").show()
    +----+---+
    |name|age|
    +----+---+
    +----+---+

    Create a DataFrame from Row objects.

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> df = spark.createDataFrame([Person("Alice", 1)])
    >>> df.show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a pandas DataFrame.

    >>> spark.createDataFrame(df.toPandas()).show()  # doctest: +SKIP
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    +---+---+
    |  0|  1|
    +---+---+
    |  1|  2|
    +---+---+

In [6]:
data=[(1,"Nishant"),(2,"ketu")]
df1=spark.createDataFrame(data=data,schema=['id','name'])
df1.show()

+---+-------+
| id|   name|
+---+-------+
|  1|Nishant|
|  2|   ketu|
+---+-------+

In [7]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
from pyspark.sql.types import *
schema=StructType([StructField(name="id",dataType=IntegerType()),
            StructField(name="name",dataType=StringType())])

In [9]:
type(schema)

pyspark.sql.types.StructType

In [10]:
df2=spark.createDataFrame(data=data,schema=schema)
df2.show()

+---+-------+
| id|   name|
+---+-------+
|  1|Nishant|
|  2|   ketu|
+---+-------+

In [11]:
df2.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [12]:
data=[{"id":1,"name":"nishant"},
      {"id":2,"name":"ketu"}
     ]
df3=spark.createDataFrame(data=data)
df3.show()

+---+-------+
| id|   name|
+---+-------+
|  1|nishant|
|  2|   ketu|
+---+-------+

In [13]:
#Reading CSV

In [14]:
df1=spark.read.csv(path='people-100.csv',header=True,inferSchema=True)
# df1=spark.read.csv(path='people-100.csv',header=True)
# without inferSchema everything is string
# use array of path for adding multiple files
display(df1)
df1.show()

DataFrame[Index: int, User Id: string, First Name: string, Last Name: string, Sex: string, Email: string, Phone: string, Date of birth: date, Job Title: string]

+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|Index|        User Id|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|           Job Title|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|    1|88F7B33d2bcf9f5|    Shelby|  Terrell|  Male|elijah57@example.net|001-084-906-7849x...|   1945-10-26|     Games developer|
|    2|f90cD3E76f1A9b9|   Phillip|  Summers|Female|bethany14@example...|   214.112.6044x4913|   1910-03-24|      Phytotherapist|
|    3|DbeAb8CcdfeFC2c|  Kristine|   Travis|  Male|bthompson@example...|        277.609.7938|   1992-07-02|           Homeopath|
|    4|A31Bee3c201ef58|   Yesenia| Martinez|  Male|kaitlinkaiser@exa...|        584.094.6111|   2017-08-03|   Market researcher|
|    5|1bA7A3dc874da3c|      Lori|     Todd|  Male|buchananmanuel@ex...|   689-207-3558x7233|   1938-12-01|  Veterinary surgeon|
|    6|bfDD7CDEF5D865B|      Erin|      Day|  Male| tconner@example.org|001-171-649-9856x...|   2015-10-28|Waste management ...|
|    7|bE9EEf34cB72AF7| Katherine|     Buck|Female|conniecowan@examp...|+1-773-151-6685x4...|   1989-01-22|Intelligence analyst|
|    8|2EFC6A4e77FaEaC|   Ricardo|   Hinton|  Male|wyattbishop@examp...|001-447-699-7998x...|   1924-03-26|      Hydrogeologist|
|    9|baDcC4DeefD8dEB|      Dave|  Farrell|  Male| nmccann@example.net|  603-428-2429x27392|   2018-10-06|              Lawyer|
|   10|8e4FB470FE19bF0|    Isaiah|    Downs|  Male|virginiaterrell@e...|+1-511-372-1544x8206|   1964-09-20|      Engineer, site|
|   11|BF0BbA03C29Bb3b|    Sheila|     Ross|Female|huangcathy@exampl...|        895.881.4746|   2008-03-20|Advertising accou...|
|   12|F738c69fB34E62E|     Stacy|   Newton|  Male|rayleroy@example.org|  710.673.3213x80335|   1980-10-20|       Warden/ranger|
|   13|C03fDADdAadAdCe|     Mandy|    Blake|  Male|jefferynoble@exam...|  (992)466-1305x4947|   2007-12-08|Scientist, clinic...|
|   14|b759b74BD1dE80d|   Bridget|     Nash|Female|mercedes44@exampl...|       (216)627-8359|   2004-06-28|       Social worker|
|   15|1F0B7D65A00DAF9|   Crystal|   Farmer|  Male|pmiranda@example.org|     +1-024-377-5391|   1992-03-09|Agricultural cons...|
|   16|50Bb061cB30B461|    Thomas|   Knight|Female|braunpriscilla@ex...|     +1-360-880-0766|   2006-02-18|Sport and exercis...|
|   17|D6dbA5308fEC4BC|   Maurice|   Rangel|  Male|sheenabanks@examp...|       (246)187-4969|   2004-08-20|Secretary/adminis...|
|   18|311D775990f066d|     Frank|  Meadows|  Male| gbrewer@example.org|   429.965.3902x4447|   2008-09-16|Audiological scie...|
|   19|7F7E1BAcb0C9AFf|     Alvin|     Paul|  Male|gilbertdonaldson@...|  219.436.0887x07551|   1949-05-12|Teacher, adult ed...|
|   20|88473e15D5c3cD0|     Jared| Mitchell|Female| jcortez@example.com|     +1-958-849-6781|   1921-01-18|    Paediatric nurse|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
only showing top 20 rows

In [15]:
df1.printSchema()

root
 |-- Index: integer (nullable = true)
 |-- User Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Date of birth: date (nullable = true)
 |-- Job Title: string (nullable = true)

In [19]:
from pyspark.sql.types import *

schema= StructType().add(field="Index",data_type=IntegerType())\
                    .add(field="User Id",data_type=StringType())\
                    .add(field="First Name",data_type=StringType())\
                    .add(field="Last Name",data_type=StringType())\
                    .add(field="Sex",data_type=StringType())\
                    .add(field="Email",data_type=StringType())\
                    .add(field="Phone",data_type=StringType())\
                    .add(field="Date of birth",data_type=DateType())\
                    .add(field="Job Title",data_type=StringType())


df2=spark.read.csv(path='people-100.csv',schema=schema,header=True)
display(df2)
df2.show()

DataFrame[Index: int, User Id: string, First Name: string, Last Name: string, Sex: string, Email: string, Phone: string, Date of birth: date, Job Title: string]

+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|Index|        User Id|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|           Job Title|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
|    1|88F7B33d2bcf9f5|    Shelby|  Terrell|  Male|elijah57@example.net|001-084-906-7849x...|   1945-10-26|     Games developer|
|    2|f90cD3E76f1A9b9|   Phillip|  Summers|Female|bethany14@example...|   214.112.6044x4913|   1910-03-24|      Phytotherapist|
|    3|DbeAb8CcdfeFC2c|  Kristine|   Travis|  Male|bthompson@example...|        277.609.7938|   1992-07-02|           Homeopath|
|    4|A31Bee3c201ef58|   Yesenia| Martinez|  Male|kaitlinkaiser@exa...|        584.094.6111|   2017-08-03|   Market researcher|
|    5|1bA7A3dc874da3c|      Lori|     Todd|  Male|buchananmanuel@ex...|   689-207-3558x7233|   1938-12-01|  Veterinary surgeon|
|    6|bfDD7CDEF5D865B|      Erin|      Day|  Male| tconner@example.org|001-171-649-9856x...|   2015-10-28|Waste management ...|
|    7|bE9EEf34cB72AF7| Katherine|     Buck|Female|conniecowan@examp...|+1-773-151-6685x4...|   1989-01-22|Intelligence analyst|
|    8|2EFC6A4e77FaEaC|   Ricardo|   Hinton|  Male|wyattbishop@examp...|001-447-699-7998x...|   1924-03-26|      Hydrogeologist|
|    9|baDcC4DeefD8dEB|      Dave|  Farrell|  Male| nmccann@example.net|  603-428-2429x27392|   2018-10-06|              Lawyer|
|   10|8e4FB470FE19bF0|    Isaiah|    Downs|  Male|virginiaterrell@e...|+1-511-372-1544x8206|   1964-09-20|      Engineer, site|
|   11|BF0BbA03C29Bb3b|    Sheila|     Ross|Female|huangcathy@exampl...|        895.881.4746|   2008-03-20|Advertising accou...|
|   12|F738c69fB34E62E|     Stacy|   Newton|  Male|rayleroy@example.org|  710.673.3213x80335|   1980-10-20|       Warden/ranger|
|   13|C03fDADdAadAdCe|     Mandy|    Blake|  Male|jefferynoble@exam...|  (992)466-1305x4947|   2007-12-08|Scientist, clinic...|
|   14|b759b74BD1dE80d|   Bridget|     Nash|Female|mercedes44@exampl...|       (216)627-8359|   2004-06-28|       Social worker|
|   15|1F0B7D65A00DAF9|   Crystal|   Farmer|  Male|pmiranda@example.org|     +1-024-377-5391|   1992-03-09|Agricultural cons...|
|   16|50Bb061cB30B461|    Thomas|   Knight|Female|braunpriscilla@ex...|     +1-360-880-0766|   2006-02-18|Sport and exercis...|
|   17|D6dbA5308fEC4BC|   Maurice|   Rangel|  Male|sheenabanks@examp...|       (246)187-4969|   2004-08-20|Secretary/adminis...|
|   18|311D775990f066d|     Frank|  Meadows|  Male| gbrewer@example.org|   429.965.3902x4447|   2008-09-16|Audiological scie...|
|   19|7F7E1BAcb0C9AFf|     Alvin|     Paul|  Male|gilbertdonaldson@...|  219.436.0887x07551|   1949-05-12|Teacher, adult ed...|
|   20|88473e15D5c3cD0|     Jared| Mitchell|Female| jcortez@example.com|     +1-958-849-6781|   1921-01-18|    Paediatric nurse|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+--------------------+
only showing top 20 rows

In [43]:
#JSON files
# in json we use multiline, if multiline json is there, By default its False
from pyspark.sql.types import *

# Define the schema for the new DataFrame
schema2 = StructType().add("Id", LongType()).add("Name", StringType()).add("Age", IntegerType()).add("Email", StringType()).add("City", StringType()).add("Food", ArrayType(StringType()))
df_json=spark.read.json(path='people.json',multiLine=True)
display(df_json)
df_json.show()

DataFrame[age: bigint, city: string, email: string, food: array<string>, id: bigint, name: string]

+---+------------+-------------------+--------------------+---+-------+
|age|        city|              email|                food| id|   name|
+---+------------+-------------------+--------------------+---+-------+
| 30| Los Angeles|  alice@example.com|     [apple, banana]|  1|  Alice|
| 28|    New York|    bob@example.com|[orange, strawberry]|  2|    Bob|
| 32|     Chicago|charlie@example.com|  [grape, blueberry]|  3|Charlie|
| 29|     Houston|  david@example.com|   [pineapple, kiwi]|  4|  David|
| 27|     Phoenix|    eve@example.com|      [mango, peach]|  5|    Eve|
| 31|Philadelphia|  frank@example.com|  [pear, watermelon]|  6|  Frank|
| 26| San Antonio|  grace@example.com|     [apple, cherry]|  7|  Grace|
| 34|   San Diego|  henry@example.com|[banana, grapefruit]|  8|  Henry|
| 25|      Dallas| isabel@example.com| [pineapple, papaya]|  9| Isabel|
| 33|    San Jose|   jack@example.com|      [orange, plum]| 10|   Jack|
+---+------------+-------------------+--------------------+---+-------+

In [55]:
# pyspark saves df data in chunks, not in a single file
# mode can we ignore , error , append , overwrite
df_json.write.json("save_json.json",mode='overwrite')

In [53]:
df_new_json=spark.read.json("save_json.json")
df_new_json.show()

+---+------------+-------------------+--------------------+---+-------+
|age|        city|              email|                food| id|   name|
+---+------------+-------------------+--------------------+---+-------+
| 30| Los Angeles|  alice@example.com|     [apple, banana]|  1|  Alice|
| 28|    New York|    bob@example.com|[orange, strawberry]|  2|    Bob|
| 32|     Chicago|charlie@example.com|  [grape, blueberry]|  3|Charlie|
| 29|     Houston|  david@example.com|   [pineapple, kiwi]|  4|  David|
| 27|     Phoenix|    eve@example.com|      [mango, peach]|  5|    Eve|
| 31|Philadelphia|  frank@example.com|  [pear, watermelon]|  6|  Frank|
| 26| San Antonio|  grace@example.com|     [apple, cherry]|  7|  Grace|
| 34|   San Diego|  henry@example.com|[banana, grapefruit]|  8|  Henry|
| 25|      Dallas| isabel@example.com| [pineapple, papaya]|  9| Isabel|
| 33|    San Jose|   jack@example.com|      [orange, plum]| 10|   Jack|
+---+------------+-------------------+--------------------+---+-------+

In [56]:
csv_df=spark.read.csv(path='people-100.csv',header=True)

In [64]:
# show function
# default 20 rows and letter in columns

csv_df.show(3, truncate=False)
# csv_df.show(5, truncate=5,vertical=True)

+-----+---------------+----------+---------+------+---------------------+----------------------+-------------+---------------+
|Index|User Id        |First Name|Last Name|Sex   |Email                |Phone                 |Date of birth|Job Title      |
+-----+---------------+----------+---------+------+---------------------+----------------------+-------------+---------------+
|1    |88F7B33d2bcf9f5|Shelby    |Terrell  |Male  |elijah57@example.net |001-084-906-7849x73518|1945-10-26   |Games developer|
|2    |f90cD3E76f1A9b9|Phillip   |Summers  |Female|bethany14@example.com|214.112.6044x4913     |1910-03-24   |Phytotherapist |
|3    |DbeAb8CcdfeFC2c|Kristine  |Travis   |Male  |bthompson@example.com|277.609.7938          |1992-07-02   |Homeopath      |
+-----+---------------+----------+---------+------+---------------------+----------------------+-------------+---------------+
only showing top 3 rows

In [65]:
csv_df.printSchema()

root
 |-- Index: string (nullable = true)
 |-- User Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Date of birth: string (nullable = true)
 |-- Job Title: string (nullable = true)

In [75]:
# under standing withColumn
from pyspark.sql.functions import col,lit
df1=csv_df.withColumn(colName='Index',col=col('Index').cast('Integer'))
df1.show(2)
df1.printSchema()
df2=df1.withColumn(colName='Index',col=col("index")*5)
df2.show(2)
# creating new column
df3=df2.withColumn(colName="country",col=lit("India"))
df3.show(2)
df3.printSchema()

+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+
|Index|        User Id|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|      Job Title|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+
|    1|88F7B33d2bcf9f5|    Shelby|  Terrell|  Male|elijah57@example.net|001-084-906-7849x...|   1945-10-26|Games developer|
|    2|f90cD3E76f1A9b9|   Phillip|  Summers|Female|bethany14@example...|   214.112.6044x4913|   1910-03-24| Phytotherapist|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+
only showing top 2 rows

root
 |-- Index: integer (nullable = true)
 |-- User Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Date of birth: string (nullable = true)
 |-- Job Title: string (nullable = true)

+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+
|Index|        User Id|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|      Job Title|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+
|    5|88F7B33d2bcf9f5|    Shelby|  Terrell|  Male|elijah57@example.net|001-084-906-7849x...|   1945-10-26|Games developer|
|   10|f90cD3E76f1A9b9|   Phillip|  Summers|Female|bethany14@example...|   214.112.6044x4913|   1910-03-24| Phytotherapist|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+
only showing top 2 rows

+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+-------+
|Index|        User Id|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|      Job Title|country|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+-------+
|    5|88F7B33d2bcf9f5|    Shelby|  Terrell|  Male|elijah57@example.net|001-084-906-7849x...|   1945-10-26|Games developer|  India|
|   10|f90cD3E76f1A9b9|   Phillip|  Summers|Female|bethany14@example...|   214.112.6044x4913|   1910-03-24| Phytotherapist|  India|
+-----+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+-------+
only showing top 2 rows

root
 |-- Index: integer (nullable = true)
 |-- User Id: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Date of birth: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- country: string (nullable = false)

In [80]:
# withcolumRenamed
csv_df.withColumnRenamed('Index',"my_index").show(2)

+--------+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+
|my_index|        User Id|First Name|Last Name|   Sex|               Email|               Phone|Date of birth|      Job Title|
+--------+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+
|       1|88F7B33d2bcf9f5|    Shelby|  Terrell|  Male|elijah57@example.net|001-084-906-7849x...|   1945-10-26|Games developer|
|       2|f90cD3E76f1A9b9|   Phillip|  Summers|Female|bethany14@example...|   214.112.6044x4913|   1910-03-24| Phytotherapist|
+--------+---------------+----------+---------+------+--------------------+--------------------+-------------+---------------+
only showing top 2 rows

In [87]:
# struct type and struct field
from pyspark.sql.types import *
data=[(1,("Nishant","ketu")),(2,("ajay","anand"))]
structName=StructType([StructField(name="first_name",dataType=StringType()),StructField(name="last_name",dataType=StringType())])
schema=StructType([StructField(name='id',dataType=IntegerType()),StructField(name='name',dataType=structName)])
df1=spark.createDataFrame(data,schema=schema)
df1.show()

+---+---------------+
| id|           name|
+---+---------------+
|  1|{Nishant, ketu}|
|  2|  {ajay, anand}|
+---+---------------+

In [96]:
#Array type
from pyspark.sql.types import *
data=[("nishant",[1,2,3,4,5]),("ketu",[1,4,3,4])]
schema=StructType([StructField("name",StringType()),StructField("my-num",ArrayType(IntegerType()))])
df1=spark.createDataFrame(data,schema)
df1=df1.withColumn("firstnum",col('my-num')[0])
df1.show()
df1.printSchema()

+-------+---------------+--------+
|   name|         my-num|firstnum|
+-------+---------------+--------+
|nishant|[1, 2, 3, 4, 5]|       1|
|   ketu|   [1, 4, 3, 4]|       1|
+-------+---------------+--------+

root
 |-- name: string (nullable = true)
 |-- my-num: array (nullable = true)
 |    |-- element: integer (containsNull = true)
 |-- firstnum: integer (nullable = true)

In [98]:
from pyspark.sql.functions import array
df2=df1.withColumn("merge",array(df1.firstnum,df1.firstnum))
df2.show()

+-------+---------------+--------+------+
|   name|         my-num|firstnum| merge|
+-------+---------------+--------+------+
|nishant|[1, 2, 3, 4, 5]|       1|[1, 1]|
|   ketu|   [1, 4, 3, 4]|       1|[1, 1]|
+-------+---------------+--------+------+